<div class="card">
  <div class="card-header">
    {{tableTitle}}
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">Filter by:</div>
      <div class="col-md-4">
        <label>
          <input type="text" [(ngModel)]='filter'><!--Banana in a box-->
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h3>Filtered by: {{filter}}</h3>
      </div>
    </div>
    <div class="table-responsive" *ngIf="products && products.length">
      <table class="table">
        <thead>
        <tr>
          <th>
            <button (click)="toggleImage()" class="btn btn-primary">
              {{showImage ? 'Hide' : 'Show'}} Image
            </button>
          </th>
          <th>Product</th>
          <th>Code</th>
          <th>Available</th>
          <th>Price</th>
          <th>Rating</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of filteredProducts"><!--For in loop gets the index-->
          <td>
            <img *ngIf="showImage"
                 [src]="product.imageUrl"
                 [title]="product.productName"
                 [alt]="product.productName"
                 [style.width.px]="50"
                 [style.margin.px]="2"
            >
          </td>
          <td><a [routerLink]="['/products',product.productId]">{{product.productName}}</a></td>
          <td>{{product.productCode | lowercase | convertToSpaces:'-'}}</td>
          <td>{{product.releaseDate}}</td>
          <td>{{product.price | currency: 'Rs ':'symbol':'1.2-2'}}</td>
          <td>
            <pm-star
              [rating]='product.starRating'
              (ratingClicked)="processEvent($event)" ></pm-star>
          </td>
        </tr>
        </tbody>
      </table>

    </div>

  </div>
</div>
