<div class="card">
  <div class="card-header">
    {{pageTitle + ": " + product.productName}}
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6 p-2">
        <p>Product Name: {{product.productName}}</p>
        <p>Description: {{product.description}}</p>
        <p>Price: {{product.price | currency : "Rs ":"symbol"}} </p>
        <p>Product Code: {{product.productCode}}</p>
        <p>Available at {{product.releaseDate}}</p>
        <div class="row">
          <p>Rating: </p>
        </div>
        <pm-star [rating]='product.starRating'></pm-star>
      </div>
      <div class="col-md-6 p-2 ">
        <img [src]="product.imageUrl"
             [title]="product.productName"
             [alt]="product.productName"
             [style.width.px]="200"
             [style.margin.px]="2"
        >
      </div>
    </div>
  </div>
  <div class="card-footer" style="align-content: start">
    <button class="btn btn-outline-primary" (click)="onBack()" style="width: 75px"><i class="fa fa-chevron-left"></i>Back</button>
  </div>
</div>
